.container {
    padding-top: 5vh;
}
.body {
    display: flex;
    height: 85vh;
}
.left {
    width: 70%;
    background: #E0EEF7;
    height: 100%;
}
.title {
    background: white;
    width: 100%;
    padding: 5px 0px;
    display: flex;
    text-align: center;
}
.title div:first-child {
    width: 8%;
}
.title div:nth-child(2) {
    width: 40%;
}
.title div:last-child {
    width: 50%;
}
.right {
    width: 30%;
    margin-left: 30px;
    height: 100%;
    background: #E0EEF7;
    padding: 10px 20px;
}
.chart {
    text-align: center;
}