.flexInfo {
    width: 100%;
    padding: 5px 0px;
    width: 100%;
    display: flex;
}
.packet {
    background: white;
    border: 1px solid #E6ECF4;
    margin: -2px 0px;
}
.info {
    font-size: 1.2em;
    text-align: center;
}
.info:first-child {
    font-weight: 700;
    width: 3%;
}
.info:nth-child(2) {
    width: 39%;
}
.info:last-child {
    padding-left: 31%;
}
.flex {
    display: flex;
}